@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.content {
    margin: auto;
    max-width: 1200px;
    /* background-color: #333; */
    text-align: center;
    color: white;
    height: 100vh;
    /* padding-top: 50px; */
    font-family: Arial, Helvetica, sans-serif;
}

.navbar nav-item {
    margin-left: 200px;
}

form {
    margin: auto;
    max-width: 500px;
}

.warning-message {
    margin: auto;
    max-width: 1200px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#comments {
    margin-bottom: 50px;
}

#today-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.current-clock {
    height: 300px;
}

.date-clock {
    font-family: "Montserrat";
    height: 300px;
    margin: auto;
    max-width: 500px;
    background-color: #1890ff;
    text-align: center;
    border-radius: 20px;
}

#submit-note {
    margin-bottom: 50px;
}

body {
    margin: 0;
}

.card {
    margin-top: 50px;
}

.card-text {
    color: black;
}