<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyDiary</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/css/halfmoon.min.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper with-navbar">

        <!-- Navbar with content justified between -->
        <nav class="navbar justify-content-between"> <!-- justify-content-between = justify-content: space-between -->
            <!-- Navbar content with menu button -->
            <div class="navbar-content">
            <a href='/notesList'>
            <button class="btn" type="button">
                <i class="fa fa-bars" aria-hidden="true"></i> 
                Notes List
            </button>
            </a>
            </div>
            <!-- Navbar brand -->
            <a href="#" class="navbar-brand">
            <img src="/static/img/logo.png">
            MyDiary
            </a>
            <!-- Navbar content with sign up button -->
            <div class="navbar-content">
                {% if session['logged'] %}
                    <a href='/logout'>
                        <button class="btn btn-primary" type="button">Logout</button>
                    </a>
                {% else %}
                    <a href='/login'>           
                        <button class="btn btn-primary" type="button">Login</button>
                    </a>
                {% endif %}
            </div>
        </nav>

        <div class="content-wrapper">

            <!-- <div class="date-clock">
                <font id='today-text'>Today is</font>
                <div class="current-clock">

                </div>
            </div> -->

            {% if session['logged'] %}

            <form action="/api/addNote" id='send-form' method="POST" class="w-400 mw-full">
                <div class="form-group">
                <label for="title" class="required">Note Title</label>
                <input type="text" class="form-control" name='title' id="title" placeholder="Title" required="required">
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label for="description">Note Body</label>
                    <textarea class="form-control" name='body' id="notebody" placeholder="Write note body in here." required="required"></textarea>
                </div>
            
                <!-- <div class="custom-switch">
                    <label for="switch-1">Switch 1</label>
                    <input type="checkbox" id="switch-1" value="">
                </div> -->

                <!--type="submit"-->
                <input class="btn btn-primary" id='submit-note' type="submit"  onclick="addNote();" value="Create Note">

                {% if value == 200 %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Note Succesfully created</h4>
                        Your note has been Succesfully created!. Thanks
                    </div>
                {% elif value == 400 %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Unable to create a note</h4>
                        An error occurred while creating the Note. Please try again later.
                    </div>
                {% endif %}

            </form>
            {% endif %}
        </div>
    </div>

    <script src='/static/js/main.js'></script>
    <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/js/halfmoon.min.js"></script>
    <script>
        halfmoon.toggleDarkMode();
        // dateClock();
    </script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
</body>
</html>