<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Login MyDiary</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/css/halfmoon.min.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper with-navbar">

        <!-- Navbar with content justified between -->
        <nav class="navbar justify-content-between"> <!-- justify-content-between = justify-content: space-between -->
            <!-- Navbar content with menu button -->
            <div class="navbar-content">
            <a href='/'>
            <button class="btn" type="button">
                <i class="fa fa-bars" aria-hidden="true"></i> 
                Home
            </button>
            </a>
            </div>
            <!-- Navbar brand -->
            <a href="#" class="navbar-brand">
            <img src="/static/img/logo.png">
            MyDiary
            </a>
            <!-- Navbar content with sign up button -->
            <div class="navbar-content">
                <a href='/signup'>
                    <button class="btn btn-primary" type="button">Signup</button>
                </a>
            </div>
        </nav>

        <div class="content-wrapper">
            <form action="/api/login" method="POST" class="w-400 mw-full">
                <div class="form-group">
                    <label for="username" class="required">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <label for="password" class="required">Full name</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required">
                </div>
            
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/js/halfmoon.min.js"></script>
    <script>
        halfmoon.toggleDarkMode();
    </script>
</body>
</html>